
body {
    padding: 0;
    margin: 0;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.05em;
}

h2 {
    position: absolute;
    top: -1%;
    width: 30%;
    left: 35%;

    text-align: center;
    font-size: 250%;
}

#seasonTag, #timeTag {
    position: absolute;
    font-size: 150%;
    text-align: right;
}

#seasonTag {
    padding: 3px;
    width: max-content;
    left: calc(50% - 200px);
    top: 8.6%;
}

#timeTag {
    padding: 3px;
    width: max-content;
    left: calc(50% - 263px);
    top: 5.5%;
}

p {
    position: absolute;
    width: 309px;
    padding: 5px;
    left: calc(44.5% - 131px);
    bottom: 2%;
    background-color: rgba(110, 100, 100, 0.2);
}

input {
    position: absolute;
    width: 350px;
    left: calc(50% - 97px);
}

#timeInput {
    top: 9%;
}

#seasonInput {
    top: 12%;
}



